/MPFramework/backend/node_modules
/Tut/Tut_Reactive_Web_Stack/node_modules
/Tut/Tut_Reactive_Web_Stack/.vscode
/BoostLearn/ConsoleApplication1/Debug
/BoostLearn/ConsoleApplication1/ConsoleApplication1.vcxproj.user
/BoostLearn/Debug
/BoostLearn/ipch
/BoostLearn/packages
/BoostLearn/ConsoleApplication1.sdf
/BoostLearn/.vs/BoostLearn/v14/*.suo
Unity3d/UnityGameFramework/GameFramework/.vscode
Unity3d/UnityGameFramework/GameFramework/Library
Unity3d/UnityGameFramework/GameFramework/Temp
Unity3d/UnityTest/UnityTest/.vscode
Unity3d/UnityTest/UnityTest/Library
Unity3d/UnityTest/UnityTest/Temp
Firebase/cloud_functions/functions/node_modules
Unity3d/Prototype1/Library
midi/midi_file_format/node_modules
cw/c++/bin
cw/c++/prj
rust-playground/owner_ship/slice
