absl-py==1.0.0
aiohttp==3.8.3
aiosignal==1.3.1
appnope==0.1.2
astroid==2.13.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
autopep8==2.0.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.0.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
cmdstanpy==1.1.0
convertdate==2.4.0
cycler==0.11.0
dateparser==1.1.6
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.6
entrypoints==0.3
ephem==4.1.4
fastjsonschema==2.16.2
flatbuffers==2.0
fonttools==4.28.3
frozenlist==1.3.3
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
hijri-converter==2.2.4
holidays==0.18
idna==3.3
importlib-metadata==4.10.0
ipykernel==6.6.0
ipython==7.30.1
isort==5.11.4
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.17.3
jupyter-client==7.1.0
jupyter-core==5.1.5
jupyterlab-pygments==0.2.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
korean-lunar-calendar==0.3.1
lazy-object-proxy==1.9.0
libclang==12.0.0
LunarCalendar==0.0.9
Markdown==3.3.6
MarkupSafe==2.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==2.0.4
multidict==6.0.4
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.4
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.2
pandoc==2.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.6.2
plotly==5.13.0
plumbum==1.8.1
ply==3.11
prompt-toolkit==3.0.24
prophet==1.1.2
protobuf==3.19.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
Pygments==2.10.0
pylint==2.15.10
PyMeeus==0.5.12
pyparsing==3.0.6
pyrsistent==0.19.3
python-binance==1.0.16
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyzmq==22.3.0
regex==2022.10.31
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
tenacity==8.1.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
threadpoolctl==3.0.0
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.11.6
tornado==6.1
tqdm==4.64.1
traitlets==5.8.1
typing-extensions==4.0.1
tzdata==2022.7
tzlocal==4.2
ujson==5.7.0
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
Werkzeug==2.0.2
wrapt==1.13.3
yarl==1.8.2
zipp==3.7.0
