@import '../node_modules/tachyons';
@import '../node_modules/ipfs-css';

/* ===========================================================================
   Buttons & Inputs
   =========================================================================== */

button {
  padding: 0.625em 1.5em;
  border: 2px solid #69c4cd;
  border-radius: 2px;
  background-color: #69c4cd;
  color: #fff;
  font-size: 0.9em;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.9;
}

input {
  width: 100%;
  margin-right: 3px;
  padding: 0.7em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #000;
  outline: none;
}

input:hover,
input:focus,
input:active {
  border-color: #69c4cd;
}

.input-button {
  display: flex;
}

.disabled *,
input:disabled,
button:disabled {
  opacity: 0.2;
}
